@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&family=Ubuntu&display=swap');

:root{
    --green: #34B0BE;
    --light-grey: #D1CECA;
    --dark-grey: #242635;
    --white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100px;
}
body{
    background-color: var(--dark-grey);
    font-family: Montserrat, sans-serif;
}
header{
    display: none;
}
section {
    width: 100%;
    border: 1px solid white;
}
.section-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-perfil{
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    padding: 2rem;
    
}
.img-perfil img{
    margin: 0 auto;
    display: block;
    text-align: center;
    width: 180px;
    height: 200px;
    border-radius: 50%;
}
.description{
    gap: .5rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.description h1{
    font-size: 5vmax;
    color: white;
}
.description h1 span{
    color: var(--green);
    font-size: 6vmax;
}
.description p{
    color: white;
    font-size: 3vmax;
}
.description p span{
    color: var(--green);
    font-size: 2vmax;
}
.logo-perfil{
    background-color: #FFFFFF;
    width: 10vmin;
    border-radius: 50%;
}
.social div > img{
    padding: 5px;
}
.social{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
} 
.web{
    background-color: #746f6f;
    width: 80%;
    gap: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .8rem;
    padding: .3rem .8rem;
    border-radius: 5px;
    margin: 2rem 0;
}
.logo-web{
    background-color: #FFFFFF;
    border-radius: 10px;
    width: 100%;
    height: 3rem;
}
.about{
    margin-top: 30px;
    text-align: center;
}
.about h3{
    color: var(--green);
    margin-bottom: 10px;

}
.about p{
    margin: 10px 30px;
    color: white;
}
.servicios h3{
    color: var(--green);
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.row{
    display: flex;
    gap: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.row-div{
    width: 200px;
    height: 240px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}
.row-div h4{
    margin-bottom: 5px;
}
.row-div p{
    font-size: 15px;
}

.row-div img{
    margin: 0 auto;
    width: 80px;
    transition: 2s;
    margin-bottom: 5px;
}
.habilidades{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 30px;
}
.habilidades div h3{
    color: var(--green);
    margin-bottom: 20px;
}
.habilidades div > p{
    color: white;
    display: flex;
    margin-top: 10px;
}
.habilidades div > progress{
    width: 200px;
    height: 30px;
    margin-bottom: 5px;
}
.contenedores{
    margin: 0 auto;
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.contenedores img{
    width: 190px;
}
.portfol{
    padding-bottom: 50px;
}
.portfol h3{
    color: var(--green);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact h3{
    color: var(--green);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.iconos{
    width: 80%;
    max-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    border: 1px solid ;
    padding: 1rem 0;
}
.iconos article{
    width: 200px;
    height: 200px;
    border: 1px solid;
    text-align: center;
    background-color: var(--light-grey);
    border-radius: 10px;
}
footer{
    text-align: center;
    padding: 2rem 0;
}


/*
@media screen and (min-width: 768px) {

    .header{
        align-items: center;
    }

    .checkbtn{
        display: none;
    }
    .menu{
        justify-content: end;
        left: 0;
        width: 100%;
        flex-direction: row;
        height: 4vmin;
        transition: 0s;
    }
    .items{
        font-size: 2vmin;
    }
    #perfil{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .section-info{
        position: relative;
    }

    .web{
        height: 150px;
        width: 80%;
        margin-left: 120px;
    }

    .description{
        position: absolute;
        right: 200px;
        top: 0;
        justify-content: left;
        text-align: start;
    }

    .img-perfil{
        order: 1;
        width: 50%;
    }

    .social{
        display: flex;
        gap: 1.5rem;
        margin-top: 10px;
        margin-right: 800px;
    }
    .social div > img{
        background-color: white;
        width: 5vmin;
    }
    .logo-perfil{
        width: 14px;
        border-radius: 50%;
    }
    .about{
        margin-top: 30px;
        margin: 50px;
    }

    .row{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
        height: 100px;
        margin-top: 50px;
        margin-bottom: 95px;
    }

    .habilidades div > progress{
        width: 600px;
    }
    .contenedores{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 1.5rem;
    }
    .contenedores img{
        width: 250px;
    }
   
    
}

*/